.images {
   display: flex;
   justify-content: center;
   gap: 0;
   width: 100%;
   height: auto;
}

.image {
   width: 18vh;
   transition: 0.3s ease-in-out;
   z-index: 9999;
}

.image:hover {
   opacity: 0;
   left: 80%;
   top: 50%;

   /* --tw-scale-x: 1.05;
   --tw-scale-y: 1.05;
   transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); */
}

.galleryclicked {
   width: 0%;
   height: 100%;
   position: absolute;
   opacity: 0;
   left: 0;
   top: 50%;
   transition: 0.3s ease-out;
   transform: scale(0);
}
