p {
   font-size: 20px;
   line-height: 1.75rem; /* Change the font size to your desired value */
}

h1 {
   font-size: 40px;
}

h2 {
   font-size: 30px;
}

h3 {
   font-size: 22px;
}

@media only screen and (max-width: 768px) {
   p {
      font-size: 16px;
      line-height: 1.4rem; /* Change the font size to your desired value */
   }
   h2 {
      font-size: 25px;
      line-height: 1;
   }
}

@media only screen and (max-width: 1600px) {
   h3 {
      font-size: 17px;
      line-height: 1.2;
   }
}
